body {
font-family: Arial, sans-serif;
margin: 20px;
}


nav a {
text-decoration: none;
margin: 0 5px;
}


.highlight {
color: darkblue;
}


.warning {
color: red;
font-weight: bold;
}


img {
width: 300px;
}
